@model BallisticsCalcApp.Models.Ballistics

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_Layout.cshtml";

}

<h2>Shot Calculator</h2>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>New Bullet Drop</title>
    <style>
        #indent {
            margin-left: 50px;
        }
    </style>
</head>
<body>
    <div>
        @using (Html.BeginForm("Result", "Ballistics", FormMethod.Post))
        {
            // insert EnterDataPatrialView here
            @Html.Partial("_EnterData", Model)

            <input type="submit" value="PewPew" />
            @Html.ActionLink("Back to List", "Index")
        }
    </div>
</body>
</html>
