@model BallisticsCalcApp.Models.Ballistics

@{
    ViewBag.Title = "Result";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<h2>Shot Calculator</h2>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>New Bullet Drop</title>
    <style>
        #indent {
            margin-left: 50px;
        }
    </style>
</head>
<body>
    <div>
       @Html.Partial("_Results", Model)
    </div>
    <div>
        @Html.ActionLink("Back", "Index")
    </div>
</body>
</html>
