@{
    ViewBag.Title = "About";
    Layout = "~/Views/shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h2>Learning MVC</h2>

<h3>This site was designed to put into practice some of the concepts I learned in a coures in ASP.NET
    as well as combine some modeling of complex mathematics to help me learn how to model things that 
    occur in nature such as gravity, drag, as well as other physical interactions of the world around
    us.</h3>

<h2>CSS, Bootstrap, and HTML</h2>

<h3>Having next to no experience in web development I wanted to make a lot of small and measured changes
    to the styling of my website. Many times, what I thought would be simple changes resulting in
    immediate differences required quite a bit of reading and research to understand the prinicpals in
    play. With Bootstrap included in a stock ASP.NET MVC project it was important for me to understand
    what role it played in the rendering of a page. Bootstrap allows for a lot of small and very 
    precise actions on a page which makes it fun to work with.</h3>
