@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>

<h3>Designed by David McArthur</h3>

<address>
    <strong>Content Support:</strong>   <a href="mailto:davums2000@yahoo.com">davums2000@yahoo.com</a><br />
</address>